<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		  content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<base href="${basePath}" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="lib/html5.js"></script>
	<script type="text/javascript" src="lib/respond.min.js"></script>
	<script type="text/javascript" src="lib/PIE_IE678.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css"
		  href="static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css"
		  href="static/h-ui/css/H-ui.admin.css" />
	<link rel="stylesheet" type="text/css"
		  href="lib/Hui-iconfont/1.0.7/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="lib/icheck/icheck.css" />
	<link rel="stylesheet" type="text/css"
		  href="static/h-ui/skin/default/skin.css" id="skin" />
	<link rel="stylesheet" type="text/css" href="static/h-ui/css/style.css" />
	<!--[if IE 6]>
	<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
</head>
<body>
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
	平台管理 <span class="c-gray en">&gt;</span> 用户管理 <a
		class="btn btn-success radius r"
		style="line-height: 1.6em; margin-top: 3px"
		href="javascript:location.replace(location.href);" title="刷新"><i
		class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="text-c">
		<input type="text" class="input-text"  style="width: 120px" placeholder="用户编号" id="user_id" name="user_id">
		<input type="text" class="input-text" style="width: 120px" placeholder="昵称" id="nick_name" name="nick_name">
		<input type="text" class="input-text" style="width: 120px" placeholder="手机号"   id="phone_number" name="phone_number">
		<button type="submit" class="btn btn-success radius" id="searchUser" name="">
			<i class="Hui-iconfont">&#xe665;</i> 查询
		</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
			<span class="l">
				<a href="javascript:;" onclick="user_del()" class="btn btn-danger radius">
					<i class="Hui-iconfont">&#xe6e2;</i>
					删除
				</a>
				<a data-title ="添加用户" onclick="userAdd('添加用户','userManager/userAdd')" href="javascript:;"
				   class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>
					添加用户</a>
			<!-- 	<a href="javascript:openRoleUser();" class="btn btn-default radius"><i class="Hui-iconfont">&#xe61d;</i> 权限分配</a> -->
			</span>
	</div>
	<div class="mt-20">
		<table id="userShow" class="table table-border table-bordered table-hover table-bg table-striped">
			<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
						<th>用户编号</th>
						<!-- <th>真实名称</th> -->
						<th>昵称</th>
						<th>性别</th>
						<th>状态</th>
						<th>手机号</th>
						<th>创建人</th>
						<th>所属</th>
						<th>创建时间</th>
						<th>操作</th>
					</tr>
			</thead>

		</table>
	</div>
</div>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="lib/public.js?id=asdf"></script>
<script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>

<script type="text/javascript" src="static/h-ui/js/H-ui.admin.js"></script>
<script type="text/javascript">
	var dataTable = null;
	var checkList= null;
	var dataIdList = new Array();
	/* 获取checkbox点击td */
	function getCheckData(){
		 var checkList= new Array() ;
		 
		 $("input[name=checkbox]").each(function(i,d){
						 if(d.checked){
							 console.log(dataTable.row( $(this).parents('tr') ).data());
							 data = dataTable.row( $(this).parents('tr') ).data(); 
							 checkList.push(data);
						 }
			})
		return checkList;
	}
	$(function() {

		$('.table-sort tbody').on( 'click', 'tr', function () {
			if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
			}
			else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
		});

		dataTable = $("#userShow").DataTable({
			"processing" : true,
			"serverSide" : true,
			"bFilter": false, //过滤功能
			"ajax" : {
				"url" : "userManager/selectUser",
				"type": "POST",
				"data":function(d){
					d['userNo']=$("#user_id").val();
					d['nickName']=$('#nick_name').val();
					d['phoneNumber']=$('#phone_number').val();
					//return JSON.stringify(d);
				}
			},
			"ordering":false,
			"orderMulti":false,
			/*"order" : [ [ 1, "asc" ] ],
			"orderMulti":false,*/
			"columnDefs" : [ {
				"data" : "id",
				"targets":0,
				"orderable":false,
				"render": function (data,type,row ) {
					return '<div style="text-align:center;"><input type="checkbox" id="'+row.id+'" name="checkbox" /></div>';
				}
			} ,{
				"data" : "user_no",
				"targets":1,
				"sDefaultContent":'',
				"class": "text-c"
			} /*, {
				"data":"nick_name",
				"targets":2,
				"sDefaultContent":'',
				"class": "text-c"
			} */,{
				"data":"nick_name",
				"targets":2,
				"sDefaultContent":'',
				"class": "text-c"
			},{
				"data":"gender",
				"targets":3,
				"sDefaultContent":'',
				"render":function(data,type,row){
					if(isNull(row.gender)){
						return '';
					}
					else if(row.gender == 1){
						return "女";
					}else{
						return "男";
					}
				},
				"class": "text-c"
			},{
				"data":"status",
				"targets":4,
				"sDefaultContent":'',
				"render":function(data,type,row){
					if(isNull(row.status)){
						return '';
					}
					else if(row.status == 1){
						return "<span class=\"label label-success radius\">已启用</span>";
					}else{
						return "<span class=\"label label-defaunt radius\">已停用</span>";
					}
				},
				"class": "text-c td-status"
			},{
				"data":"phone_number",
				"targets":5,
				"sDefaultContent":''
				,"class": "text-c"
			},{
				"data":"create_user",
				"targets":6,
				"sDefaultContent":'',
				"class": "text-c"
			},{
				"data":"club_name",
				"targets":7,
				"sDefaultContent":'',
				"class": "text-c"
			},{
				"data":"create_time",
				"targets":8,
				"sDefaultContent":'',
				"class": "text-c"
			},{
				"data":"handler",
				"targets":9,
				"render":function(data,type,row){
				/*var user_show_url = "userManager/selectUser";*/

					if(isNull(row.status)){
						return '';
					}
					
					var str = "<a title=\"编辑\" class=\"btn btn-primary radius ml-5 size-MINI\" href=\"javascript:;\" onclick=\"member_edit('编辑','userManager/userEdit?id="+row.id+"','"+row.id+"','3')\"  style=\"text-decoration:none\"><i class=\"Hui-iconfont\">&#xe6df;</i>编辑</a>"
							+
							"<a style=\"text-decoration:none\" class=\"btn btn-warning radius ml-5 size-MINI\" onClick=\"pw_reset('重置密码','"+row.id+"','"+row.phone_number+"')\" href=\"javascript:;\" title=\"重置密码\"><i class=\"Hui-iconfont\">&#xe63f;</i>重置密码</a>";
					if(row.status == 1){
						return str = " <a style=\"text-decoration:none\" class=\"btn btn-danger radius ml-5 size-MINI\" onClick=\"member_stop(this,'"+row.id+"')\" href=\"javascript:;\" title=\"停用\"><i class=\"Hui-iconfont\">&#xe631;</i>停用</a> " + str;
					}else{
						return str = " <a style=\"text-decoration:none\" class=\"btn btn-success radius ml-5 size-MINI\" onClick=\"member_start(this,'"+row.id+"')\" href=\"javascript:;\" title=\"启用\"><i class=\"Hui-iconfont\">&#xe6e1;</i>启用</a> " + str;
						
					}
				},
				"class": "text-c td-manage"
			} ],
			"language" : {
				"sProcessing" : "处理中...",
				"sLengthMenu" : "显示 _MENU_ 项结果",
				"sZeroRecords" : "没有匹配结果",
				"sInfo" : "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
				"sInfoEmpty" : "显示第 0 至 0 项结果，共 0 项",
				"sInfoFiltered" : "(由 _MAX_ 项结果过滤)",
				"sInfoPostFix" : "",
				"sSearch" : "搜索:",
				"sUrl" : "",
				"sEmptyTable" : "表中数据为空",
				"sLoadingRecords" : "载入中...",
				"sInfoThousands" : ",",
				"oPaginate" : {
					"sFirst" : "首页",
					"sPrevious" : "上页",
					"sNext" : "下页",
					"sLast" : "末页"
				},
			},
			"sZeroRecords": "没有检索到数据",
		});
	});

	/*用户-停用*/
	function member_stop(obj,id){
		console.log('asdfasdf；'+id)
		layer.confirm('确认要停用吗？',function(index){
			ajaxStatusUpdate(id,0);
			$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class=\"btn btn-danger radius ml-5 size-MINI\" onClick="member_start(this,\''+id+'\')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i>启用</a>');
			$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
			$(obj).remove();
			layer.msg('已停用!',{icon: 5,time:1000});
		});
	}
	
	
	/*用户-启用*/
	function member_start(obj,id){
		layer.confirm('确认要启用吗？',function(index){
			ajaxStatusUpdate(id,1);
			$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class=\"btn btn-success radius ml-5 size-MINI\"  onClick="member_stop(this,\''+id+'\')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i>停用</a>');
			$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
			$(obj).remove();
			layer.msg('已启用!',{icon: 6,time:1000});
		});
	}
	
	//用户修改
	function member_edit(title,url,id,type){
		var index = layer.open({
			type : 2,
			title : title,
			content : url
		});
		layer.full(index);
	}
	
	//修改用户状态信息
	function ajaxStatusUpdate(id,isDelete){
		console.log(isDelete)
		$.ajax({
			cache: true,
			type: "POST",
			url:"userManager/upateEnable",
			data:{"id":id,"isDelete":isDelete},
			async: false,
			error: function(request) {
				layer.alert("禁用失败！");
			},
			success: function(data) {
				var title = '启用成功!';
				if(isDelete==0){
					title = '禁用成功!';
				}
				layer.alert(title, function(index){
					//do something
					dataTable.ajax.reload();
				});

			}
		});
	}
	
	
	/*按照条件-查找*/
	$("#searchUser").click(function () {
		dataTable.ajax.reload();
	});

	/*用户-添加*/
	function userAdd(title, url, w, h) {
		var index = layer.open({
			type : 2,
			title : title,
			content : url
		});
		layer.full(index);
		//layer_show(title,url,w,h);
	}

	
	/*密码重置*/
	function pw_reset(title, id,phone) {
		var data = {
			userId : id,
			phone : phone
		}

		layer.confirm('确定重置吗?', {
			icon : 3,
			title : '提示'
		}, function(index) {
			$.ajax({
				url : 'userManager/resetPassword',
				data : data,
				method : "POST",
				beforeSend : function() {
					layer.load(2, {
						zindex : 1200
					});
				},
				success : function(r) {
					layer.closeAll('loading');
					if (r.result == "success") {
						layer.alert("已通过短信发送新的随机密码到用户手机");
					} else {
						layer.msg('操作失败！', {
							icon : 2,
							time : 2000
						});
					}
				}
			});
		});
	}
	/*用户-查看*/
	function user_show(title, id) {
		var index = layer.open({
			type : 2,
			title : "用户查看",
			content : "userManager/userShow/" + id
		});
		layer.full(index);
	}

	/*密码-修改*/
	function change_password(title, url, id, w, h) {
		layer_show(title, url, w, h);
	}
	/*用户-删除*/
	function user_del(obj, id) {
		dataIdList = getCheckData();
		/* var data = getCheck(); */
		layer.confirm('确认要删除吗？', function(index) {
			$.ajax({
				cache : true,
				type : "POST",
				url : "userManager/delUser",
				data : {
					"id" : dataIdList
				},
				async : false,
				error : function(request) {
					layer.alert("删除失败！");
				},
				success : function(data) {
					console.log(data.result)
					if (isNotNull(data.result)) {
						layer.msg('删除成功!', {icon: 1,time:2000},function(index) {
							//do something
							location.replace(location.href);
						});
					} else {
						layer.msg('删除失败!', {icon: 2,time:2000});
					}
				}
			});
		});
	}
	
	
	function getCheck(){
		 var checkList= new Array() ;
		 $("input[name=checkbox]").each(function(i,d){
						 if(d.checked){
							 checkList.push(d.id);
						 }
			});
		return checkList;
	}
	
	//
	function openRoleUser(){
		var selected = getCheck();
		if(selected.length == 0 ){
			layer.msg('请选择用户!', {icon: 2,time:2000});
			return ;
		}else if(selected.length > 1){
			layer.msg('只能选择一个用户查看！', {icon: 2,time:2000});
			return ;
		}
		
		 //查询
	    	var h = $(".page-container").outerHeight(true);
	     	var w = $(".page-container").outerWidth(true);
	     	
			var index = layer.open({
				type : 2,
				title : "添加",
				zindex:2000,
				area:['900px','500px'],
				content : "roleManager/getRoleUserJsp?userId="+selected[0]
			});
	     	//layer_show('添加',"roleManager/getRolePermissionJsp?userId="+userId,'',h/0.5);
	}
</script>
</body>
</html>