<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<base href="${basePath}" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css"
	href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css"
	href="static/h-ui/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css"
	href="lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css"
	href="static/h-ui/skin/blue/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui/css/style.css" />
<link rel="stylesheet" type="text/css"
	href="lib/MultiDatesPicker/1.6.3/css/jquery-ui.css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
</head>
<body>

			<nav class="breadcrumb">
				<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
				攻略线路管理 <span class="c-gray en">&gt;</span> 订单管理 <a
					class="btn btn-success radius r"
					style="line-height: 1.6em; margin-top: 3px"
					href="javascript:location.replace(location.href);" title="刷新"><i
					class="Hui-iconfont">&#xe68f;</i></a>
			</nav>
			<div class="page-container">
				<form class="text-c" id= "condition">
				<span id="is_club_hide" >
					<select name="clubId" id ="clubId" class="select-box" style="width:120px;height:30px"></select>
				</span>
				<input type="text" class="input-text" style="width: 120px"
						placeholder="订单编号" id="order_no" name="order_no"> 
				<input type="text" class="input-text" style="width: 120px"
						placeholder="线路编号" id="route_no" name="route_no" value="${route_no?if_exists}"> 
				<span>
							<select class="select-box" id="status" name="status" style="width:120px;height:30px" >
								<option value="">--订单状态--</option>
								<option value="0">待支付</option>
								<option value="1">支付完成</option>
								<option value="2">行程中</option>
								<option value="3">行程结束</option>
								<option value="4">退款申请</option>
								<option value="5">订单取消（用户）</option>
								<option value="6">订单取消（后台）</option>
							</select>
				</span>	
					<input type="text" class="input-text" style="width: 120px"
						placeholder="团期" id="corps_time" name="corps_time" value="${mission_time?if_exists}"> 
						
					<button type="button" class="btn btn-success radius" id="search_button" name="">
						<i class="Hui-iconfont">&#xe665;</i> 查询
					</button>
				</form>
				<div class="mt-20">
					<table id="table" width="100%"
						class="table table-border table-bordered table-hover table-bg table-striped">
						<thead>
							<tr class="text-c">
								<th>订单编号</th>
								<th>线路编号</th>
								<th>团期</th>
								<th>订单状态</th>
								<th>订单金额</th>
								<th>订单人数</th>
								<th>线路名称</th>
								<th>俱乐部</th>
								<th>旅城号</th>
								<th>手机号</th>
								<th>订单创建时间</th>
								<th style="width:150px;">操作</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
	
	<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="lib/layer/2.1/layer.js"></script>
	<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
	<script type="text/javascript" src="static/h-ui/js/H-ui.admin.js"></script>
	<script type="text/javascript" src="static/common/orderStatus.js"></script>
	<script type="text/javascript"
		src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="lib/MultiDatesPicker/1.6.3/js/jquery-ui-1.11.1.js"></script>
		<script type="text/javascript" src="static/common/club.js"></script>
	<script type="text/javascript">
		var dataTable = null;

		
		$(function() {
			
			// 时间控件
			 $( "#corps_time" ).datepicker({
				 dateFormat: 'yy-mm-dd'
			 });
			dataTable = $("#table").DataTable({
				"processing" : true,
				"serverSide" : true,
				"ordering": false,
				"searching": false,
				"ajax" : {
					"url" : "orderManager/orders",
					"type" : "POST",
				    "data":function(d){
				    	d['routeNo']=$('#route_no').val();
				    	d['orderNo']=$('#order_no').val();
				    	d['clubId']=$('#clubId option:selected') .val();
				    	d['corpsTime']=$('#corps_time').val();
				    	d['status']=$('#status option:selected').val();
				    	}
				},
				//"order" : [ [ 0, "asc" ] ],
				//"orderMulti" : false,
				"columnDefs" : [ {
					"data" : "order_no",
					"targets" : 0,
					render: function(data,type,row){
						var r= "<a onclick='view(\""+row.id+"\")'>"+data+"</a>";
						return r;
					},
					"class": "text-c"
				}, {
					"data" : "route_no",
					"targets" : 1,
					"defaultContent" : '',
					"class": "text-c"
				}, {
					"data" : "mission_time",
					"targets" : 2,
					"defaultContent" : '',
					"class": "text-c"
				}, {
					"data" : "status",
					"targets" : 3,
					"defaultContent" : '',
					render : function(data, type, row){
 						return ORDER_STATUS.colorfulRenderer(data);
					},
					"class": "text-c"
				}, {
					"data" : "fee_total",
					"targets" : 4,
					"defaultContent" : '',
					"class": "text-c"
				}, {
					"data" : "participants_number",
					"targets" : 5,
					"defaultContent" : '',
					"class": "text-c"
				}, {
					"data" : "route_name",
					"targets" : 6,
					"defaultContent" : '',
					"class": "text-c"
				}, {
					"data" : "club_short_name",
					"targets" : 7,
					"defaultContent" : '',
					"class": "text-c"
				}, {
					"data" : "user_no",
					"targets" : 8,
					"defaultContent" : '',
					"class": "text-c"
				}, {
					"data" : "phone_number",
					"targets" : 9,
					"defaultContent" : '',
					"class": "text-c"
				}, {
					"data" : "create_time",
					"targets" : 10,
					"defaultContent" : '',
					"class": "text-c"
				}, {
					"data": "id",
					"targets" : 11,
					"defaultContent" : '',
					render : function(data, type, row){
						var vbtn = '<div class="text-c"><input class="btn radius btn-warning size-MINI" type="button" value="查看" onclick="view(\''+row.id+'\')">'
						var rbtn1 = '<input class="btn btn-danger radius ml-10 size-MINI" type="button" value="撤销" onclick="revokeBack(\''+row.id+'\')">'
						var rbtn2 = '<input class="btn btn-danger radius ml-10 size-MINI" type="button" value="处理退款" onclick="revokeUser(\''+row.id+'\')">'
						if(row.status == ORDER_STATUS.STATUS_REFUND_APPLY){
							return vbtn+rbtn2+'</div>';
						}else if(row.status == ORDER_STATUS.STATUS_PAID || row.status == ORDER_STATUS.STATUS_ON_TRIP){
							return vbtn+rbtn1+'</div>';
						}else{
							return vbtn +'</div>';
						}
					},
					"class": "text-c"
				} ],
				"language" : {
					"sProcessing" : "处理中...",
					"sLengthMenu" : "显示 _MENU_ 项结果",
					"sZeroRecords" : "没有匹配结果",
					"sInfo" : "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
					"sInfoEmpty" : "显示第 0 至 0 项结果，共 0 项",
					"sInfoFiltered" : "(由 _MAX_ 项结果过滤)",
					"sInfoPostFix" : "",
					"sSearch" : "搜索:",
					"sUrl" : "",
					"sEmptyTable" : "表中数据为空",
					"sLoadingRecords" : "载入中...",
					"sInfoThousands" : ",",
					"oPaginate" : {
						"sFirst" : "首页",
						"sPrevious" : "上页",
						"sNext" : "下页",
						"sLast" : "末页"
					},
					"oAria" : {
						"sSortAscending" : ": 以升序排列此列",
						"sSortDescending" : ": 以降序排列此列"
					}
				}
			});
		});
		window.dataTable=dataTable;
		// 根据条件查询
		$("#search_button").click(function(){
			dataTable.ajax.reload();
		});
		
		// type: 0 edit, 1 view, 2 revoke back, 3 revoke user
		function view(id) {
			openDetailWin(id, 1,"订单查看");
		}
		function revokeBack(id){
			openDetailWin(id, 2,"订单撤销");
		}
		function revokeUser(id){
			openDetailWin(id, 3,"处理退款");
		}
		function openDetailWin(id, type, title){
			var index = layer.open({
				type : 2,
				title : title,
				content : "orderManager/edit?id=" + id + "&type=" + type
			});
			layer.full(index);
		}
	</script>
</body>
</html>