<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<base href="${basePath}" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css"	href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css"	href="static/h-ui/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css"	href="lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css"	href="static/h-ui/skin/blue/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui/css/style.css" />
<link rel="stylesheet" type="text/css" href="lib/farbtastic/farbtastic.css" />

<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
</head>
<body>
		<div style = "min-height:40px"></div>

	<div class="page-container">
	
				<div class="text-c">
					<input type="text" class="input-text" style="width: 120px"
						placeholder="标签名称" id="name" name="name">
					<button type="submit" class="btn btn-success radius"
						id="search_button" name="">
						<i class="Hui-iconfont">&#xe665;</i> 查询
					</button>
				</div>
				<div class="cl pd-5 bg-1 bk-gray mt-20">
					<span class="l"> 
					    <a class="btn btn-success radius"
						onclick="addTag();" href="javascript:;"><i
							class="Hui-iconfont"></i> 新增</a> 
						<a href="javascript:;"
						onclick="editTag()" class="btn btn-primary radius"><i
							class="Hui-iconfont">&#xe6df;</i> 编辑</a>	
						<a href="javascript:;"
						onclick="deleteTags()" class="btn btn-danger radius"><i
							class="Hui-iconfont"></i> 删除</a> 
					</span>
				</div>
				<div class="mt-20">
					<table id="tags" width="100%"
						class="table table-border table-bordered table-hover table-bg table-striped">
						<thead>
							<tr class="text-c">
								<th width="25"><input type="checkbox" name="" value=""></th>
								<th>标签编号</th>
								<th>标签名称</th>
								<th>背景颜色</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
	</div>
	<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="lib/layer/2.1/layer.js"></script>
	<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
	<script type="text/javascript" src="static/h-ui/js/H-ui.admin.js"></script>
	<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
	<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
	<script type="text/javascript" src="lib/farbtastic/farbtastic.js"></script>
	<script type="text/javascript">
		var dataTable = null;
		$(function() {
			
			$.farbtastic('#colorpicker').linkTo('#t_color');
			
			dataTable = $("#tags").DataTable({
				"processing" : true,
				"serverSide" : true,
				"ordering" : false,
				"searching" : false,
				"ajax" : {
					"url" : "setting/tags",
				    "type": "POST",
				    data: function(d){
				    	d['name']=$('#name').val();
				    	}
				},
				"orderMulti":false,
				"columnDefs" : [ {
					"data" : "id",
					"name" : "id",
					"targets":0,
					render: function(data,type,row){
                        return '<div style="text-align:center;"><input type="checkbox" id="'+data+'" name="checkbox"  /></div>';
					}
				}, {
					"name" : "t_code",
					"data" : "tCode",
					"targets":1,
					"class": "text-c"
				},{
					"name":"t_name",
					"data" : "tName",
					"targets":2,
					"class": "text-c"
				},{
					"name":"t_color",
					"data" : "tColor",
					"targets":3,
					render: function(data,type,row){
                        return '<div class="text-c"><div style="height:15px;width:20px;background-color:'+data+'"></div>';
					},
					"class": "text-c"
				}],
				"language" : {
					"sProcessing" : "处理中...",
					"sLengthMenu" : "显示 _MENU_ 项结果",
					"sZeroRecords" : "没有匹配结果",
					"sInfo" : "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
					"sInfoEmpty" : "显示第 0 至 0 项结果，共 0 项",
					"sInfoFiltered" : "(由 _MAX_ 项结果过滤)",
					"sInfoPostFix" : "",
					"sSearch" : "搜索:",
					"sUrl" : "",
					"sEmptyTable" : "表中数据为空",
					"sLoadingRecords" : "载入中...",
					"sInfoThousands" : ",",
					"oPaginate" : {
						"sFirst" : "首页",
						"sPrevious" : "上页",
						"sNext" : "下页",
						"sLast" : "末页"
					},
					"oAria" : {
						"sSortAscending" : ": 以升序排列此列",
						"sSortDescending" : ": 以降序排列此列"
					}
				},
			});
		});
		window.dataTable = dataTable;
		// 根据条件查询
		$("#search_button").click(function(){
			dataTable.ajax.reload();
		});
		
		
		function getCheck(){
			 var checkList= new Array() ;
			 $("input[name=checkbox]").each(function(i,d){
							 if(d.checked){
								 checkList.push(d.id);
							 }
				})
			return checkList;
		}
		
		var closeSG;
		function addTag(){
			pop("新增标签");
		}
		function editTag(){
			var selected = getCheck();
			if(selected.length == 0 )
				layer.msg('请选择记录！', {icon: 2,time:2000});
			else if(selected.length > 1)
				layer.msg('只能选择一条记录！', {icon: 2,time:2000});
			else{
				var row = dataTable.row($('#'+selected[0]).parent().parent().parent()).data();
				$('#t_name').val(row.tName);
				$('#id').val(row.id);
				$('#t_code').val(row.tCode);
				$('#t_color').val(row.tColor);
				$('#t_color').css("background-color",row.tColor);
				pop("编辑标签"); 
			}
		}
		
		function saveTag(){
			if($('#tagInfo').validate().form()){
				$.ajax({
					url:'setting/saveTag',
					type:'post',
					data:$('#tagInfo').serialize(),
		            beforeSend : function() {
						layer.load(2, {
							zindex : 1200
						});
					},
		            success: function(data) {
		            	layer.closeAll('loading');
		            	if(data.code=="999"){
		            		layer.alert(data.msg);
		            	}else{
			            	layer.msg("操作成功！",{icon:1,time:1000});
			            	closeSG();
			            	dataTable.ajax.reload();
		            	}
		            },
		            error: function(data, status, e) {
		            	layer.closeAll('loading');
		            	layer.msg("操作失败！",{icon:2,time:1000});
		            }
					
				})
			}
		}
		
		function pop(title){
			// 弹出绑定窗口
			var index = layer.open({
				  type: 1,
				  title: title,
				  closeBtn: 1,
				  shadeClose: true,
				  content: $('#addTagModal')
				});
			closeSG = function(){
				$('#tagInfo')[0].reset();
				layer.close(index);
			}
		}
		
		function deleteTags(){
			var ids = getCheck();
			if(ids.length==0){
				layer.msg('请选择记录！', {icon: 2,time:2000});
				return;
			}
			layer.confirm('确认删除？', {icon: 3, title:'提示'}, function(index){
			  layer.close(index);
			  $.ajax({
					url:'setting/deleteTags',
					type:'post',
					data:{ids:ids},
		            beforeSend : function() {
						layer.load(2, {
							zindex : 1200
						});
					},
		            success: function(data) {
		            	layer.closeAll('loading');
		            	if(data.code=="999"){
		            		layer.alert(data.msg);
		            	}else{
			            	layer.msg("操作成功！",{icon:1,time:1000});
			            	dataTable.ajax.reload();
		            	}
		            },
		            error: function(data, status, e) {
		            	layer.closeAll('loading');
		            	layer.msg("操作失败！",{icon:2,time:1000});
		            }
					
				})
			});
		}
	</script>
	
	
		<div id="addTagModal" hidden="true"  >
			 <form id="tagInfo" style="padding:20px;">
		 		 <input type="text" id="id" name="id" hidden="true">
		 		标签编号 <input type="text" id="t_code" name="tCode" disabled = "disabled" class=" input-text radius size-M">
		 		标签名称 <input type="text" id = "t_name" name="tName" required  class="input-text radius size-M">
		 		标签颜色 <input type="text" id = "t_color" name = "tColor" value=" " required class="input-text radius size-M">
			 	<div id="colorpicker"></div>
			 </form>
			 <div class="modal-footer">
			 	<button class="btn btn-primary" id = "toAddRouteBtn" onclick="saveTag()">确定</button> <button class="btn" onclick="closeSG();">取消</button>
			 </div>
		</div>
	
</body>
</html>