<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<base href="${basePath}" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="/favicon.ico">
<LINK rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css"
	href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css"
	href="static/h-ui/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css"
	href="lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css"
	href="static/h-ui/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>新增俱乐部</title>
<link href="lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="page-container">
		<form class="form form-horizontal"  action="userManager/saveUser" method ="post" id="form-club-add">
			<div class="row cl" id="div-club-id">
				<label class="form-label col-xs-4 col-sm-2">
				  <span  class="c-red">*</span>旅程号：</label>
				<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="${user.userNo!}" placeholder="" id="userId"
						name="userId">
						<!--<input type="hidden" class="input-text" value="${user.id!}" placeholder="${user.id!}" id="id"
						name="id">
						-->
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">真实名称：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="${user.realName!}" placeholder="" id="realName"
						name="realName">
				</div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">昵称：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="${user.nickName!}" placeholder=""
						id="nickName" name="nickName">
				</div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span
					class="c-red">*</span>联系方式：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="${user.phoneNumber!}" placeholder="" id="phoneNumber"
						name="phoneNumber">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">性别：</label>
				<div class="formControls col-xs-8 col-sm-9 skin-minimal">
					<div class="radio-box">
						<input name="gender" type="radio" id="male" value="1"  <#if ("${user.gender!''}"== "0")> checked </#if> />
						<label for="male">男</label>
					</div>
					<div class="radio-box">
						<input type="radio" id="female" name="gender" value="0" <#if ("${user.gender!}"== "1")> checked </#if> />
						<label for="female">女</label>
					</div>

				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span
						class="c-red">*</span>地区：</label>
				<div class="formControls col-xs-8 col-sm-9">

					<select name="provinceId" id ="provinceId" class="select" style="width:120px;height:30px" >

					</select>
					<select name="cityId" id ="cityId" class="select" style="width:120px;height:30px">

					</select>

				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">身份证：</label>
				<div class="formControls col-xs-8 col-sm-9 skin-minimal">
					<input type="text" class="input-text" value="${user.idcard!}" placeholder=""
						   id="idCard" style="width:576px" name="idCard"/>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">推荐人手机号：</label>
				<div class="formControls col-xs-8 col-sm-9 skin-minimal">
					<input type="text" class="input-text" value="${member.referral!}" placeholder=""
						   id="referPhone" style="width:576px" name="referral"/>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">伙伴关系：</label>
				<div class="formControls col-xs-8 col-sm-9 skin-minimal">
					<a  class="btn btn-warning radius" onClick="user_show(1,'${user.id!}')" href="javascript:;" title="一级伙伴">一级伙伴</a>
					<a  class="btn btn-warning radius" onClick="user_show(2,'${user.id!}')" href="javascript:;" title="二级伙伴">二级伙伴</a>
					<a  class="btn btn-warning radius" onClick="user_show(3,'${user.id!}')" href="javascript:;" title="三级伙伴">三级伙伴</a>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">状态：</label>
				<div class="formControls col-xs-8 col-sm-9 skin-minimal">
					<div class="radio-box">
						<input name="status" type="radio" id="enabledOn" value="1"  <#if ("${member.status!''}"== "1"||"${member.status!''}"=="")> checked </#if> />
						<label for="enabledOn">启用</label>
					</div>
					<div class="radio-box">
						<input type="radio" id="enabledOff" name="status" value="0" <#if ("${member.status!}"== "0")> checked </#if> />
						<label for="enabledOff">禁用</label>
					</div>

				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">会员积分：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="${member.totalPoint!}" placeholder=""
						id="totalPoint" name="totalPoint">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">会员等级：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="" placeholder=""
						id="rank" name="rank">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">会员金币：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="${gold!}" placeholder="" id="gold_coin" name="gold_coin">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">个性签名：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<textarea class="textarea" id="personalSign">${member.personalSign!}</textarea>
				</div>
			</div>
			<div class="row cl text-c">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
					<button onClick="layer_close();" class="btn btn-default radius"
						type="button"> <i class="Hui-iconfont">&#xe6a6;</i>&nbsp;&nbsp;关闭&nbsp;&nbsp;</button>
				</div>
			</div>
		</form>
	</div>

	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="lib/layer/2.1/layer.js"></script>
	<script type="text/javascript" src="lib/icheck/jquery.icheck.min.js"></script>
	<script type="text/javascript"
		src="lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
	<script type="text/javascript"
		src="lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript"
		src="lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
	<script type="text/javascript" src="lib/public.js?id=12ccc313"></script>
	<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
	<script type="text/javascript" src="static/h-ui/js/H-ui.admin.js"></script>
	<script type="text/javascript" src="static/h-ui/js/comment.js"></script>
	<!--/_footer /作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript"
		src="lib/webuploader/0.1.5/webuploader.min.js"></script>
	<script type="text/javascript">
	var totalPoint = '${member.totalPoint!}';
	$(function(){
// 加载省市
		loadAreaControl("provinceId","cityId");
		
		if(totalPoint < 1000){
			$('#rank').val("普通会员");
		}else if(totalPoint >= 1000 && totalPoint < 2000){
			$('#rank').val("银牌会员");
		}else if(totalPoint >= 2000 && totalPoint < 5000){
			$('#rank').val("金牌会员");
		}else{
			$('#rank').val("钻石会员");
		}

		$("#provinceId").change(function(){
			appendAreaControl(getAreaList($(this).val()),"cityId");
			$("#name").val($("#cityId").find("option:selected").text());
		});

		$("#cityId").change(function(){
			$("#name").val($(this).find("option:selected").text());
		});

		//$("#addForm").validate();

		function getAreaList(pid){
			var _data = null;
			/* $.get("common/areaList/"+pid,function(data){
			 _data = data;
			 },"json"); */
			$.ajax({
				cache: true,
				type: "POST",
				url:"common/areaList/"+pid,
				async: false,
				success: function(data) {
					_data = data

				}
			});
			return _data;
		}

		function appendAreaControl(list,id){
			$("#"+id).html("");
			$.each(list,function(i,obj){
				var province = "${member.provinceId!}"
				var city = "${member.cityId!}"

				if(province == obj.id){
					$("#"+id).append("<option value='"+obj.id+"' selected='selected' >"+obj.name+"</option>");
				}else if(city == obj.id){
					$("#"+id).append("<option value='"+obj.id+"' selected='selected' >"+obj.name+"</option>");
				}else{
					$("#"+id).append("<option value='"+obj.id+"'>"+obj.name+"</option>");
				}

			});
		}

		function loadAreaControl(provinceId,cityId){

			appendAreaControl(getAreaList(1),"provinceId");
			appendAreaControl(getAreaList($("#provinceId").val()),"cityId");
			$("#name").val($("#cityId").find("option:selected").text());
		}
	});
	
	
	 //查询
    function user_show(level,id){
    	var h = $(".page-container").outerHeight(true);
     	var w = $(".page-container").outerWidth(true);
		var userId= '${user.id!}';
		var index = layer.open({
			type : 2,
			title : "用户查看",
			zindex:2000,
			area:['900px','500px'],
			content : "member/referral?level="+level+"&userId=" + userId
		});
     	//layer_show('添加',"roleManager/getRolePermissionJsp?userId="+userId,'',h/0.5);
    }
	
	//查询用户
/* 	function user_show(level,userId){
		var index = layer.open({
			type : 2,
			title : "用户查看",
			content : "member/referral?level="+level+"&userId=" + userId
		});
		layer.full(index);
	} */
	
	// 页面加载时判断页面类型
	$(document).ready(function(){
		var type="${type!}";
		if(type =="3" || type =="2"){ // 编辑状态, 查看状态

			if(type =="2"){
				$("#userId").attr("disabled",true);
				$("#realName").attr("disabled",true);
				$("#nickName").attr("disabled",true);
				$("#phoneNumber").attr("disabled",true);
				$("#male").attr("disabled",true);
				$("#female").attr("disabled",true);
				$("#idCard").attr("disabled",true);
				$("#referPhone").attr("disabled",true);
				$("#enabledOn").attr("disabled",true);
				$("#enabledOff").attr("disabled",true);
				$("#personalSign").attr("disabled",true);
				$("#totalPoint").attr("disabled",true);
				$("#provinceId").attr("disabled",true);
				$("#cityId").attr("disabled",true);
				$("#totalPoint").attr("disabled",true);
				$("#rank").attr("disabled",true);
				$("#gold_coin").attr("disabled",true);

			}
			
		}else{
			// 新增状态
			$("#div-club-id").hide();
			
		}
	}); 
	</script>
</body>
</html>