<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="lib/html5.js"></script>
	<script type="text/javascript" src="lib/respond.min.js"></script>
	<script type="text/javascript" src="lib/PIE_IE678.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.admin.css" />
	<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.7/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="lib/icheck/icheck.css" />
	<link rel="stylesheet" type="text/css" href="static/h-ui/skin/default/skin.css" id="skin" />
	<link rel="stylesheet" type="text/css" href="static/h-ui/css/style.css" />
	<!--[if IE 6]>
	<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
	<title>app问题反馈管理</title>
</head>
<body>
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span> 平台管理
	<span class="c-gray en">&gt;</span> APP问题反馈
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
		<i class="Hui-iconfont">&#xe68f;</i>
	</a>
</nav>
<div class="page-container">
	<div class="text-c">
		<input type="text" class="input-text" style="width: 120px" placeholder="手机号"   id="phone_number" name="phone_number">
		<select name="status" id ="status" class="select" style="width:120px;height:30px" >
			      <option value="-1" >请选择</option>
                  <option value="1">已确认</option>
			      <option value="0" >未确认</option>
		</select>
		<button type="submit" class="btn btn-success radius" id="searchApp" name="">
			<i class="Hui-iconfont">&#xe665;</i> 查询
		</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
			<span class="l"> 			
			<a href="javascript:;" onclick="app_show()"
				class="btn btn-primary radius"><i class="Hui-iconfont">&#xe695;</i>
					查看</a>
			<a href="javascript:;" onclick="app_edit()"
				class="btn btn-secondary radius"><i class="Hui-iconfont">&#xe6df;</i>
					确认</a>
			</span>
	</div>
	<div class="mt-20">
		<table id="appList" class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="80">旅程号</th>
				<!-- <th width="100">真实姓名</th> -->
				<th width="40">昵称</th>
				<th width="100">手机号</th>
				<th width="100">问题与反馈</th>
				<th width="150">状态</th>
				<th width="130">确认者</th>
				<th width="100">确认时间</th>
				<th width="70">创建日期</th>
			</tr>
			</thead>

		</table>
	</div>
</div>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
<script type="text/javascript"
		src="lib/public.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.admin.js"></script>
<script type="text/javascript">
	/*$(function(){
	 $('.table-sort').dataTable({
	 "aaSorting": [[ 1, "desc" ]],//默认第几个排序
	 "bStateSave": true,//状态保存
	 "aoColumnDefs": [
	 //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	 {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
	 ]
	 });
	 $('.table-sort tbody').on( 'click', 'tr', function () {
	 if ( $(this).hasClass('selected') ) {
	 $(this).removeClass('selected');
	 }
	 else {
	 table.$('tr.selected').removeClass('selected');
	 $(this).addClass('selected');
	 }
	 });
	 });*/
	var dataTable = null;

	$(function() {

		$('.table-sort tbody').on( 'click', 'tr', function () {
			if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
			}
			else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
		});

		dataTable = $("#appList").DataTable({
			"processing" : true,
			"serverSide" : true,
			"ordering": false,
			"searching": false,
			"ajax" : {
				"url" : "app/selectApp",
				"type": "POST",
				"data":function (d) {
					d['phoneNumber']=$("#phone_number").val();
					d['status']=$('#status').val();

				}
			},
			"ordering":false,
			"orderMulti":false,
			/*"order" : [ [ 1, "asc" ] ],
			 "orderMulti":false,*/
			"columnDefs" : [{
				"data" : "id",
				"targets" : 0,
				"render": function (data,type,row ) {
                  return '<div style="text-align:center;"><input type="checkbox" id="'+data+'" name="checkbox"   /></div>';
                },
                "sDefaultContent":'',
        		"class": "text-c"
			},{
				"data" : "user_no",
				"targets":1,
				"sDefaultContent":'',
				"class": "text-c"
			},/* {
				"data":"real_name",
				"targets":2,
				"sDefaultContent":'',
				"class": "text-c"
			}, */{
				"data":"nick_name",
				"targets":2,
				"sDefaultContent":'',
				"class": "text-c"
			},{
				"data":"phone_number",
				"targets":3,
				"sDefaultContent":'',
				"class": "text-c"
			},{
				"data":"content",
				"targets":4,
				"sDefaultContent":'',
				"class": "text-c"
			},{
				"data":"status",
				"targets":5,
				"render":function (data) {
					if(data=="0")
							return "未确认";
					else
							return "已确认";
				},
				"sDefaultContent":'',
				"class": "text-c"
			},{
				"data":"user_name",
				"targets":6,
				"sDefaultContent":'',
				"class": "text-c"
			},{
				"data":"confirm_time",
				"targets":7,
				"sDefaultContent":'',
				"class": "text-c"
			},{
				"data":"create_time",
				"targets":8,
				"sDefaultContent":'',
				"class": "text-c"

			} ],
			"language" : {
				"sProcessing" : "处理中...",
				"sLengthMenu" : "显示 _MENU_ 项结果",
				"sZeroRecords" : "没有匹配结果",
				"sInfo" : "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
				"sInfoEmpty" : "显示第 0 至 0 项结果，共 0 项",
				"sInfoFiltered" : "(由 _MAX_ 项结果过滤)",
				"sInfoPostFix" : "",
				"sSearch" : "搜索:",
				"sUrl" : "",
				"sEmptyTable" : "表中数据为空",
				"sLoadingRecords" : "载入中...",
				"sInfoThousands" : ",",
				"oPaginate" : {
					"sFirst" : "首页",
					"sPrevious" : "上页",
					"sNext" : "下页",
					"sLast" : "末页"
				},
				"oAria" : {
					"sSortAscending" : ": 以升序排列此列",
					"sSortDescending" : ": 以降序排列此列"
				}
			}
		});
		
		//初始化获取信息
		initRowDataTable();
	});

	var dataId = null;
	function initRowDataTable(){
		$('#appList tbody').on( 'click', 'tr', function () {
			console.log( dataTable.row( this ).data() );
			dataId = dataTable.row( this ).data();
		});
	}

	/*按条件查询*/
	$("#searchApp").click(function () {
		dataTable.ajax.reload();
	});


	var checkList = null;

	//校验是否选择
	function getChcek(){
		$("input[name=checkbox]").each(function(i,d){
			 if(d.checked){
				 checkList.push(d.id);
			 }
		});
	}
	
	/*问题反馈-查看*/

	function app_show() {
		if(isNull(dataId)){
			layer.msg('请选择一个要查询的数据!', {
				icon : 5
			});
			return;
		}
		var index = layer.open({
			type : 2,
			title : "查看",
			content : "app/appShow?id=" + dataId.id
		});
		layer.full(index);

		/* var index = layer.open({
			type : 2,
			title : "APP问题反馈",
			content : "app/appShow/"+id
		});
		layer.full(index); */
	}

	/*确认*/
	function app_edit() {
		if(isNull(dataId)){
			layer.msg('请选择一个要查询的数据!', {
				icon : 5
			});
			return;
		}
		if(dataId.status == 1){
			layer.msg('无法再次确认!', {
				icon : 3
			});
			return;
		}
		console.log(dataId);
		layer.confirm('确认APP问题反馈？', function(index) {
			// 数据库更新
			$.ajax({
				cache : true,
				type : "POST",
				url : "app/upateEnable",
				data : {
					"id" : dataId.id,
					"status" : 1
				},
				async : false,
				error : function(request) {
					layer.alert("确认失败！");
				},
				success : function(data) {
					if(isNotNull(data.success)){
						layer.msg(data.success,{icon:1,time:2000}, function(index) {
							location.replace(location.href); 
		                	//layer_close();
						});
						return;
					}
					layer.msg(data.error,{icon:1,time:2000}, function(index) {
	                	//layer_close();
					});
				}
			});
		});
	}
</script>
</body>
</html>